body {
    background-image: url('/static/img/BG2.svg');
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    font-family: 'Rajdhani', sans-serif!important;
}

.lrgHeaderHello {
    font-family: 'Rajdhani', sans-serif!important;
    font-size: 60px!important;
    line-height: 1.35!important;
    letter-spacing: -.02em!important;
    font-weight: 400!important;
    color: black!important;
}